[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=AliroEd Imager
Icon=aliro-imager
Exec=aliro-imager
Categories=Utility
StartupNotify=false
